<!--右侧边栏-->
<div class="col-md-3 hidden-sm hidden-xs">
    <div class="row">
        <br>
        <h4>发起人</h4>
        <p class="text-hide">1</p>
        <div class="row">
            <div class="col-sm-2">
                <img src="images/avater.jpg" alt="" style="width: 32px;height: 32px;border-radius: 3px">
            </div>
            <div class="col-sm-8">
                <a href="">易李坤</a>
            </div>
        </div>
        <br>
        <hr>
        <!--相关问题-->
        <h4>相关问题</h4>
        <p class="text-hide">1</p>
        <ul class="list-unstyled" style="padding-right: 10px;>
            <% for(let i = 0; i<8;i++) {%>
            <li "><p><a href="">我会一点点基础代码，学bootstrap 有点困难，有没有快速入门的教程？</a></p></li>
            <% } %>
        </ul>
        <hr>
        <!--问题状态-->
        <h4>问题状态</h4>
        <p class="text-muted">最新活动：4小时前</p>
        <p class="text-muted">浏览：784</p>
        <p class="text-muted">关注：3人</p>
        <p>
            <img src="images/avater.jpg" alt="" style="width: 24px;height: 24px;border-radius: 2px">
            <img src="images/avater.jpg" alt="" style="width: 24px;height: 24px;border-radius: 2px">
            <img src="images/avater.jpg" alt="" style="width: 24px;height: 24px;border-radius: 2px">
        </p>
    </div>
</div>
</div>
</div>