<footer>
    <div class="footer">
        <hr>
        <div class="row footer-top">
            <!--地步logo-->
            <div class="col-sm-6 col-xs-6">
            <ul class="list-unstyled">
                <li ><h1><a href="">NODE8</a></h1></li>
                <li style="word-wrap: break-word;">
                    <p>我们的你独立开发了深刻的大师傅撒旦jfk了就是打猎飞机
                        上的飞机啊圣诞节分厘卡是jfk四大皆空放假啊四道口都说了</p>
                </li>
            </ul>
            </div>
            <div class="col-sm-3 col-xs-3">
                <ul class="list-unstyled text-center">
                    <li><p class="lead">关于</p></li>
                    <li><a href="" class="lead">我的</a></li>
                    <li><a href="" class="lead">我的</a></li>
                    <li><a href="" class="lead">我的</a></li>
                </ul>
            </div>
            <div class="col-sm-3 col-xs-3">
                <ul class="list-unstyled">
                    <li><p class="lead">关于</p></li>
                    <li><a href="">关于</a></li>
                    <li><a href="">关于</a></li>
                    <li><a href="">关于</a></li>

                </ul>
            </div>

        </div>
        <hr>
        <ul class="list-inline text-center">
            <li><a href="">备案号</a></li>|
            <li>关于我</li>
        </ul>
    </div>

</footer>





<script src="/js/jquery-3.1.1.js"></script>
</body>
</html>
