<% include header %>

<div class="regist text-center row" >
    <embed src="images/node.svg" type="">
        <hr>
        <h1>用户登录</h1>
        <br>
        <center>
            <form role="form" style="width: 60%">
                <ul class="list-unstyled text-center">
                    <li><input type="text" class="form-control" placeholder="用户名"></li>
                    <br>
                    <li><input type="text" class="form-control" placeholder="密码"></li>
                    <br>
                    <li>
                        <input type="submit" class="btn btn-success form-control" value="登录">
                    </li>
                </ul>


            </form>
        </center>

</div>

<% include footer %>