<!--右侧边栏-->
<div class="col-md-3 hidden-sm hidden-xs">
    <div class="row">

        <h4 class="text-primary">问题发起指南</h4>
        <p class="text-hide">1</p>
        <ul class="list-unstyled" style="padding-right: 20px">
            <li><p class="text-muted"><b>问题标题:</b> 请用准确的语言描述您发布的问题思想</p></li>
            <br>
            <li><p class="text-muted"><b>问题标题:</b> 详细补充您的问题内容, 并提供一些相关的素材以供参与者更多的了解您所要问题的主题思想</p></li>
            <br>
            <li><p class="text-muted"><b>选择话题::</b> 选择一个或者多个合适的话题, 让您发布的问题得到更多有相同兴趣的人参与. 所有人可以在您发布问题之后添加和编辑该问题所属的话题</p></li>
            <br>
        </ul>
        <br>
        <hr>

    </div>
</div>
</div>
</div>