<!--主体内容部分-->
<div class="content">
    <div class="row">
        <div class="col-sm-12 col-md-9">
            <!--内容导航-->
            <ul class="nav nav-tabs active hidden-xs border-bottom-none">
                <li><a class="text-muted">问题</a></li>
                <h4 class="pull-right"><i class="glyphicon glyphicon-list"></i>发起</h4>&emsp;
            </ul>

            <!--主体内容-->
            <div class="col-sm-12">
                <ul class="list-unstyled">
                    <br>
                    <li><h4 class="text-primary">问题标题</h4></li>
                    <p class="text-hide">hide</p>
                    <li><input type="text" class="form-control col-sm-4" placeholder="问题标题"></li>
                    <br>
                    <br>
                    <li><h4>问题补充（选填）</h4></li>
                    <li><p class="text-hide">hide</p></li>
                    <li><textarea name="edit" id="edit2"></textarea></li>
                    <li><h4>添加话题</h4></li>
                    <li class="col-sm-6 text-left" style="padding-left: 0">
                        <input class="form-control" type="text" placeholder="创建或搜索添加新话题">

                    </li>
                    <li class="col-sm-6 text-left" style="padding-left: 0"><input type="button" class="btn btn-default" value="取消"></li>
                    <br>
                    <li class="text-right"><input type="button" value="确认发起" class="btn btn-success"></li>
                    <li><br></li>
                </ul>

            </div>
        </div>