<% include header %>

<div class="regist text-center" ng-app="registApp" ng-controller="registCtrl">
    <embed src="images/node.svg" type="">
    <hr>
        <h1>注册新用户</h1>
        <br>
        <center>
    <form style="width: 60%" name="regForm" ng-submit="postForm()">
        <ul class="list-unstyled">
            <li ><input type="text" class="form-control" placeholder="用户名"
                ng-model="formData.name" ng-minlength="5" ng-maxlength="12"
                ng-pattern="/^[a-zA-Z][a-zA-Z0-9_]{4,11}$/" required="required"></li>
            <p ng-show="regForm.name.$invalid && !regForm.name.$pristine" ng-cloak class="text-danger pull-right">用户名不符合要求</p>
            <br>
            <li ><input type="text" class="form-control" placeholder="电子邮箱"
                ng-model="formData.email" ng-pattern="/^(\w)+(\.\w+)*@(\w)+((\.\w+)+)$/"></li>
            <p ng-show="regForm.email.$invalid && !regForm.email.$pristine" ng-cloak class="text-danger pull-right">电子邮箱格式不正确</p>
            <br>
            <li ><input type="text" class="form-control" placeholder="密码"></li>
            <br>
            <p ng-show="regForm.email.$invalid && !regForm.email.$pristine" ng-cloak class="text-danger pull-right">电子邮箱格式不正确</p>

            <li ><input type="text" class="form-control" placeholder="确认密码"></li>
            <br>
            <p ng-show="regForm.email.$invalid && !regForm.email.$pristine" ng-cloak class="text-danger pull-right">电子邮箱格式不正确</p>
            <li>
                <ul class="list-inline">
                    <li class=" col-xs-6">
                        <input type="text" class="form-control" placeholder="验证码" style="width: ">
                    </li>
                    <li class="col-xs-6"><img src="" alt="" style="width: 175px; height: 35px;"></li>
                </ul>
            </li>
            <br>
            <br>
            <br>
            <li>
                <label for="" class="pull-left"><input type="checkbox" checked>  我同意<a href="">用户协议</a></label>
                <a href="" class="pull-right">已有账号？</a>
            </li>
            <br>
            <li>
                <input type="submit" class="btn btn-primary form-control" value="注册">
            </li>
        </ul>

    </form>
        </center>

</div>

<% include footer %>