<% include header %>

<div class="regist text-center">
    <embed src="images/node.svg" type="">
    <hr>
        <h1>注册新用户</h1>
        <br>
        <center>
    <form role="form" style="width: 60%">
        <ul class="list-unstyled">
            <li ><input type="text" class="form-control" placeholder="用户名"></li>
            <br>
            <li ><input type="text" class="form-control" placeholder="电子邮箱"></li>
            <br>
            <li ><input type="text" class="form-control" placeholder="密码"></li>
            <br>
            <li ><input type="text" class="form-control" placeholder="确认密码"></li>
            <br>
            <li>
                <ul class="list-inline">
                    <li class=" col-xs-6">
                        <input type="text" class="form-control" placeholder="验证码" style="width: ">
                    </li>
                    <li class="col-xs-6"><img src="" alt="" style="width: 175px; height: 35px;"></li>
                </ul>
            </li>
            <br>
            <br>
            <br>
            <li>
                <label for="" class="pull-left"><input type="checkbox" checked>  我同意<a href="">用户协议</a></label>
                <a href="" class="pull-right">已有账号？</a>
            </li>
            <br>
            <li>
                <input type="submit" class="btn btn-primary form-control" value="注册">
            </li>
        </ul>

    </form>
        </center>

</div>

<% include footer %>